extends layout

block content
    div

        .leaderboard
            h3 Power Rankings
            div
                h4(class=solo) Solo Events
                ul
                    li.title Super Smash Bros. Ultimate
                    li.rank
                    li(data-rel='WCTA' data-value='297')
                        span.name WCTA | West Carrer And Technical Academy
                    li(data-rel='TMS' data-value='214')
                        span.name TMS | The Meadows School
                    li(data-rel='CASLV' data-value='662')
                        span.name CASLV | Coral Academy of Science Las Vegas
                    li(data-rel='CMHS' data-value='98')
                        span.name CMHS | Cimarron Memorial High School
                    li(data-rel='SRHS' data-value='0')
                        span.name SRHS | Shadow Ridge High School
                    li(data-rel='OCHS' data-value='30')
                        span.name OCHS | Odyssey Charter High School
                    li(data-rel='LVHS' data-value='0')
                        span.name LVHS | Las Vegas High School
                    li(data-rel='Chaparral' data-value='0')
                        span.name CAHS | Chaparral
                    li(data-rel='CHS_CO' data-value='386')
                        span.name CHS(CO) | Coronado High School
                    li(data-rel='DHS' data-value='361')
                        span.name DHS | Durango High School
                    li(data-rel='BHS_B' data-value='0')
                        span.name BHS_B | Bonanza High School (Bengals)
                    li(data-rel='SVHS_ML' data-value='0')
                        span.name SVHS_ML | Sierra Vista High School (Mountain Lions)
                    li(data-rel='LHS_LH' data-value='246')
                        span.name LHS(LH) | Legacy High School (Long Horns)
                    li(data-rel='CHS_CH' data-value='278')
                        span.name CHS(CH) | Clark High School (Chargers)
                    li(data-rel='DSA' data-value='250')
                        span.name DSA | Del Sol Academy of the Performing Arts
                    li(data-rel='SECTA' data-value='180')
                        span.name SECTA | South East Career Technical Academy
                    li(data-rel='SWCTA' data-value='165')
                        span.name SWCTA | South West Career Technical Academy
                    li(data-rel='MHS' data-value='36')
                        span.name MHS | Mojave High School
                    li(data-rel='DOHS' data-value='357')
                        span.name DOHS | Desert Oasis High School
                    li(data-rel='LVA' data-value='0')
                        span.name LVA | Las Vegas Arts Academy
                    li(data-rel='GVHS' data-value='550')
                        span.name GVHS | Green Valley High School
                    li(data-rel='DPHS' data-value='0')
                        span.name DPHS | Desert Pines High School
                    li(data-rel='NWCTA' data-value='0')
                        span.name NWCTA | North West Career Technical Academy
                    li(data-rel='ECTA' data-value='0')
                        span.name ECTA | East Career Technical Academy
                    li(data-rel='SVHS_G' data-value='86')
                        span.name SVHS(G) | Spring Valley High School (Grizzlies)
                    li(data-rel='LHS_P' data-value='928')
                        span.name LHS(P) | Liberty High School (Patriots)
                    li(data-rel='PVHS' data-value='54')
                        span.name PVHS | Palo Verde High School
                    li(data-rel='VCTCA' data-value='0')
                        span.name VCTCTA | Veteran's Tribute Career Technical Academy
                    li(data-rel='ATECH' data-value='1248')
                        span.name ATECH | Advanced Technologies Academy
                    li(data-rel='AVHS' data-value='0')
                        span.name AVHS | Arbor View High School
                    li(data-rel='BA' data-value='16')
                        span.name BA | Basic Academy of International Studies
                    li(data-rel='CCLV' data-value='0')
                        span.name CCLV | Calvary Chapel Las Vegas
                    li(data-rel='DA' data-value='0')
                        span.name DA | Doral Academy
                    li(data-rel='VHS' data-value='460')
                        span.name VHS | Valley High School
                    li(data-rel='NHLC' data-value='140')
                        span.name NHLC

                ul
                    li.title Fortnite
                    li.rank
                    li(data-rel='WCTA' data-value='0')
                        span.name WCTA | West Carrer And Technical Academy
                    li(data-rel='TMS' data-value='0')
                        span.name TMS | The Meadows School
                    li(data-rel='CASLV' data-value='0')
                        span.name CASLV | Coral Academy of Science Las Vegas
                    li(data-rel='CMHS' data-value='0')
                        span.name CMHS | Cimarron Memorial High School
                    li(data-rel='SRHS' data-value='0')
                        span.name SRHS | Shadow Ridge High School
                    li(data-rel='OCHS' data-value='0')
                        span.name OCHS | Odyssey Charter High School
                    li(data-rel='LVHS' data-value='0')
                        span.name LVHS | Las Vegas High School
                    li(data-rel='Chaparral' data-value='0')
                        span.name CAHS | Chaparral
                    li(data-rel='CHS_CO' data-value='0')
                        span.name CHS(CO) | Coronado High School
                    li(data-rel='DHS' data-value='0')
                        span.name DHS | Durango High School
                    li(data-rel='BHS_B' data-value='0')
                        span.name BHS_B | Bonanza High School (Bengals)
                    li(data-rel='SVHS_ML' data-value='0')
                        span.name SVHS_ML | Sierra Vista High School (Mountain Lions)
                    li(data-rel='LHS_LH' data-value='0')
                        span.name LHS(LH) | Legacy High School (Long Horns)
                    li(data-rel='CHS_CH' data-value='0')
                        span.name CHS(CH) | Clark High School (Chargers)
                    li(data-rel='DSA' data-value='0')
                        span.name DSA | Del Sol Academy of the Performing Arts
                    li(data-rel='SECTA' data-value='0')
                        span.name SECTA | South East Career Technical Academy
                    li(data-rel='SWCTA' data-value='0')
                        span.name SWCTA | South West Career Technical Academy
                    li(data-rel='MHS' data-value='0')
                        span.name MHS | Mojave High School
                    li(data-rel='DOHS' data-value='0')
                        span.name DOHS | Desert Oasis High School
                    li(data-rel='LVA' data-value='0')
                        span.name LVA | Las Vegas Arts Academy
                    li(data-rel='GVHS' data-value='0')
                        span.name GVHS | Green Valley High School
                    li(data-rel='DPHS' data-value='0')
                        span.name DPHS | Desert Pines High School
                    li(data-rel='NWCTA' data-value='0')
                        span.name NWCTA | North West Career Technical Academy
                    li(data-rel='ECTA' data-value='0')
                        span.name ECTA | East Career Technical Academy
                    li(data-rel='SVHS_G' data-value='0')
                        span.name SVHS(G) | Spring Valley High School (Grizzlies)
                    li(data-rel='LHS_P' data-value='0')
                        span.name LHS(P) | Liberty High School (Patriots)
                    li(data-rel='PVHS' data-value='0')
                        span.name PVHS | Palo Verde High School
                    li(data-rel='VCTCTA' data-value='0')
                        span.name VCTCTA | Veteran's Tribute Career Technical Academy
                    li(data-rel='ATECH' data-value='0')
                        span.name ATECH | Advanced Technologies Academy
                    li(data-rel='AVHS' data-value='0')
                        span.name AVHS | Arbor View High School
                    li(data-rel='BA' data-value='0')
                        span.name BA | Basic Academy of International Studies
                    li(data-rel='CCLV' data-value='0')
                        span.name CCLV | Calvary Chapel Las Vegas
                    li(data-rel='DA' data-value='0')
                        span.name DA | Doral Academy
                    li(data-rel='VHS' data-value='0')
                        span.name VHS | Valley High School
        br
        .leaderboard
            div
                h4(class=team) Team Events
                ul
                    li.title League Of Legends
                    li.rank
                    li(data-rel='WCTA' data-value='0')
                        span.name WCTA | West Carrer And Technical Academy
                    li(data-rel='TMS' data-value='0')
                        span.name TMS | The Meadows School
                    li(data-rel='CASLV' data-value='0')
                        span.name CASLV | Coral Academy of Science Las Vegas
                    li(data-rel='CMHS' data-value='0')
                        span.name CMHS | Cimarron Memorial High School
                    li(data-rel='SRHS' data-value='0')
                        span.name SRHS | Shadow Ridge High School
                    li(data-rel='OCHS' data-value='0')
                        span.name OCHS | Odyssey Charter High School
                    li(data-rel='LVHS' data-value='0')
                        span.name LVHS | Las Vegas High School
                    li(data-rel='Chaparral' data-value='0')
                        span.name CAHS | Chaparral
                    li(data-rel='CHS_CO' data-value='0')
                        span.name CHS(CO) | Coronado High School
                    li(data-rel='DHS' data-value='0')
                        span.name DHS | Durango High School
                    li(data-rel='BHS_B' data-value='0')
                        span.name BHS_B | Bonanza High School (Bengals)
                    li(data-rel='SVHS_ML' data-value='0')
                        span.name SVHS_ML | Sierra Vista High School (Mountain Lions)
                    li(data-rel='LHS_LH' data-value='0')
                        span.name LHS(LH) | Legacy High School (Long Horns)
                    li(data-rel='CHS_CH' data-value='0')
                        span.name CHS(CH) | Clark High School (Chargers)
                    li(data-rel='DSA' data-value='0')
                        span.name DSA | Del Sol Academy of the Performing Arts
                    li(data-rel='SECTA' data-value='0')
                        span.name SECTA | South East Career Technical Academy
                    li(data-rel='SWCTA' data-value='0')
                        span.name SWCTA | South West Career Technical Academy
                    li(data-rel='MHS' data-value='0')
                        span.name MHS | Mojave High School
                    li(data-rel='DOHS' data-value='0')
                        span.name DOHS | Desert Oasis High School
                    li(data-rel='LVA' data-value='0')
                        span.name LVA | Las Vegas Arts Academy
                    li(data-rel='GVHS' data-value='0')
                        span.name GVHS | Green Valley High School
                    li(data-rel='DPHS' data-value='0')
                        span.name DPHS | Desert Pines High School
                    li(data-rel='NWCTA' data-value='0')
                        span.name NWCTA | North West Career Technical Academy
                    li(data-rel='ECTA' data-value='0')
                        span.name ECTA | East Career Technical Academy
                    li(data-rel='SVHS_G' data-value='0')
                        span.name SVHS(G) | Spring Valley High School (Grizzlies)
                    li(data-rel='LHS_P' data-value='0')
                        span.name LHS(P) | Liberty High School (Patriots)
                    li(data-rel='PVHS' data-value='0')
                        span.name PVHS | Palo Verde High School
                    li(data-rel='VCTCTA' data-value='0')
                        span.name VCTCTA | Veteran's Tribute Career Technical Academy
                    li(data-rel='ATECH' data-value='0')
                        span.name ATECH | Advanced Technologies Academy
                    li(data-rel='AVHS' data-value='0')
                        span.name AVHS | Arbor View High School
                    li(data-rel='BA' data-value='0')
                        span.name BA | Basic Academy of International Studies
                    li(data-rel='CCLV' data-value='0')
                        span.name CCLV | Calvary Chapel Las Vegas
                    li(data-rel='DA' data-value='0')
                        span.name DA | Doral Academy
                    li(data-rel='VHS' data-value='0')
                        span.name VHS | Valley High School


                ul
                    li.title Overwatch
                    li.rank
                    li(data-rel='WCTA' data-value='0')
                        span.name WCTA | West Carrer And Technical Academy
                    li(data-rel='TMS' data-value='0')
                        span.name TMS | The Meadows School
                    li(data-rel='CASLV' data-value='0')
                        span.name CASLV | Coral Academy of Science Las Vegas
                    li(data-rel='CMHS' data-value='0')
                        span.name CMHS | Cimarron Memorial High School
                    li(data-rel='SRHS' data-value='0')
                        span.name SRHS | Shadow Ridge High School
                    li(data-rel='OCHS' data-value='0')
                        span.name OCHS | Odyssey Charter High School
                    li(data-rel='LVHS' data-value='0')
                        span.name LVHS | Las Vegas High School
                    li(data-rel='Chaparral' data-value='0')
                        span.name CAHS | Chaparral
                    li(data-rel='CHS_CO' data-value='0')
                        span.name CHS(CO) | Coronado High School
                    li(data-rel='DHS' data-value='0')
                        span.name DHS | Durango High School
                    li(data-rel='BHS_B' data-value='0')
                        span.name BHS_B | Bonanza High School (Bengals)
                    li(data-rel='SVHS_ML' data-value='0')
                        span.name SVHS_ML | Sierra Vista High School (Mountain Lions)
                    li(data-rel='LHS_LH' data-value='0')
                        span.name LHS(LH) | Legacy High School (Long Horns)
                    li(data-rel='CHS_CH' data-value='0')
                        span.name CHS(CH) | Clark High School (Chargers)
                    li(data-rel='DSA' data-value='0')
                        span.name DSA | Del Sol Academy of the Performing Arts
                    li(data-rel='SECTA' data-value='0')
                        span.name SECTA | South East Career Technical Academy
                    li(data-rel='SWCTA' data-value='0')
                        span.name SWCTA | South West Career Technical Academy
                    li(data-rel='MHS' data-value='0')
                        span.name MHS | Mojave High School
                    li(data-rel='DOHS' data-value='0')
                        span.name DOHS | Desert Oasis High School
                    li(data-rel='LVA' data-value='0')
                        span.name LVA | Las Vegas Arts Academy
                    li(data-rel='GVHS' data-value='0')
                        span.name GVHS | Green Valley High School
                    li(data-rel='DPHS' data-value='0')
                        span.name DPHS | Desert Pines High School
                    li(data-rel='NWCTA' data-value='0')
                        span.name NWCTA | North West Career Technical Academy
                    li(data-rel='ECTA' data-value='0')
                        span.name ECTA | East Career Technical Academy
                    li(data-rel='SVHS_G' data-value='0')
                        span.name SVHS(G) | Spring Valley High School (Grizzlies)
                    li(data-rel='LHS_P' data-value='0')
                        span.name LHS(P) | Liberty High School (Patriots)
                    li(data-rel='PVHS' data-value='0')
                        span.name PVHS | Palo Verde High School
                    li(data-rel='VCTCTA' data-value='0')
                        span.name VCTCTA | Veteran's Tribute Career Technical Academy
                    li(data-rel='ATECH' data-value='0')
                        span.name ATECH | Advanced Technologies Academy
                    li(data-rel='AVHS' data-value='0')
                        span.name AVHS | Arbor View High School
                    li(data-rel='BA' data-value='0')
                        span.name BA | Basic Academy of International Studies
                    li(data-rel='CCLV' data-value='0')
                        span.name CCLV | Calvary Chapel Las Vegas
                    li(data-rel='DA' data-value='0')
                        span.name DA | Doral Academy
                    li(data-rel='VHS' data-value='0')
                        span.name VHS | Valley High School

        ul
        br
        .leaderboard
            div
                h4(class=one-off) One-Off Events
                ul
                    li.title Minecraft
                    li.rank
                    li(data-rel='WCTA' data-value='0')
                        span.name WCTA | West Carrer And Technical Academy
                    li(data-rel='TMS' data-value='0')
                        span.name TMS | The Meadows School
                    li(data-rel='CASLV' data-value='0')
                        span.name CASLV | Coral Academy of Science Las Vegas
                    li(data-rel='CMHS' data-value='0')
                        span.name CMHS | Cimarron Memorial High School
                    li(data-rel='SRHS' data-value='0')
                        span.name SRHS | Shadow Ridge High School
                    li(data-rel='OCHS' data-value='0')
                        span.name OCHS | Odyssey Charter High School
                    li(data-rel='LVHS' data-value='0')
                        span.name LVHS | Las Vegas High School
                    li(data-rel='Chaparral' data-value='0')
                        span.name CAHS | Chaparral
                    li(data-rel='CHS_CO' data-value='0')
                        span.name CHS(CO) | Coronado High School
                    li(data-rel='DHS' data-value='0')
                        span.name DHS | Durango High School
                    li(data-rel='BHS_B' data-value='0')
                        span.name BHS_B | Bonanza High School (Bengals)
                    li(data-rel='SVHS_ML' data-value='0')
                        span.name SVHS_ML | Sierra Vista High School (Mountain Lions)
                    li(data-rel='LHS_LH' data-value='0')
                        span.name LHS(LH) | Legacy High School (Long Horns)
                    li(data-rel='CHS_CH' data-value='0')
                        span.name CHS(CH) | Clark High School (Chargers)
                    li(data-rel='DSA' data-value='0')
                        span.name DSA | Del Sol Academy of the Performing Arts
                    li(data-rel='SECTA' data-value='0')
                        span.name SECTA | South East Career Technical Academy
                    li(data-rel='SWCTA' data-value='0')
                        span.name SWCTA | South West Career Technical Academy
                    li(data-rel='MHS' data-value='0')
                        span.name MHS | Mojave High School
                    li(data-rel='DOHS' data-value='0')
                        span.name DOHS | Desert Oasis High School
                    li(data-rel='LVA' data-value='0')
                        span.name LVA | Las Vegas Arts Academy
                    li(data-rel='GVHS' data-value='0')
                        span.name GVHS | Green Valley High School
                    li(data-rel='DPHS' data-value='0')
                        span.name DPHS | Desert Pines High School
                    li(data-rel='NWCTA' data-value='0')
                        span.name NWCTA | North West Career Technical Academy
                    li(data-rel='ECTA' data-value='0')
                        span.name ECTA | East Career Technical Academy
                    li(data-rel='SVHS_G' data-value='0')
                        span.name SVHS(G) | Spring Valley High School (Grizzlies)
                    li(data-rel='LHS_P' data-value='0')
                        span.name LHS(P) | Liberty High School (Patriots)
                    li(data-rel='PVHS' data-value='0')
                        span.name PVHS | Palo Verde High School
                    li(data-rel='VCTCTA' data-value='0')
                        span.name VCTCTA | Veteran's Tribute Career Technical Academy
                    li(data-rel='ATECH' data-value='0')
                        span.name ATECH | Advanced Technologies Academy
                    li(data-rel='AVHS' data-value='0')
                        span.name AVHS | Arbor View High School
                    li(data-rel='BA' data-value='0')
                        span.name BA | Basic Academy of International Studies
                    li(data-rel='CCLV' data-value='0')
                        span.name CCLV | Calvary Chapel Las Vegas
                    li(data-rel='DA' data-value='0')
                        span.name DA | Doral Academy
                    li(data-rel='VHS' data-value='0')
                        span.name VHS | Valley High School

    .container
        .row.justify-content-md-left.mb-5
            .col-sm-auto
                .media
                    //img.mr-3(src='/images/r6s-icon.png' alt='R6rlogo' width=120 height=120)
                    .media-body
                        h5.mt-0(class=faq) FAQ
                        h6.mb-0.about(text-align=center) Frequently asked questions to help you get around Power Rankings.
                        p.mb-0.about(text-align+center)
                            ul
                                li
                                    strong
                                        p What is PR?

                                    p stands for “Power Rankings” and is used to determine the general skill level of your school. You can acquire points for your school by attending events that Silver State Esports marks as “Power Ranking Events.”

                                    strong
                                        p What events can earn my school PR?

                                    p There are several types of Silver State Esports events that can help you earn PR!
                                    br
                                    p Solo Events: Super Smash Bros. Ultimate and Fortnite
                                    br
                                    p Team Events: League of Legends (5v5) and Overwatch (6v6)
                                    br
                                    p One-Off Events: Minecraft, Mario Kart 8 Deluxe, etc…

                                    strong
                                        p How much PR can I earn?

                                    p PR is calculated by subtracting the number of attendees of an event by your individual or group placing in the tournament: i.e. There are 40 entrants and you get 13th place, so you will acquire 27 points for your school.

                                    strong
                                        p How do you know who is competing for each school?

                                    p For all events, we encourage competitors to use the abbreviated version of their school name as their clan or sponsor tag: i.e. Shishy goes to Green Valley High School so his full tag on the bracket and registration would be GVHS | Shishy.

                                    strong
                                        p What is the best way to earn PR?

                                    p The more attendees your school sends out, the more points you can accumulate for your school. This prevents solo carries while also promoting teamwork and the growth of local businesses.
                                    br
                                    p This system won’t get your school many points if only one representative from your school is showing up. By going with a team of five people for solo events or multiple teams for team events,  your team can bond and learn from each other at the tournament as well as earn more PR.

                                    strong
                                        p What happens if my school is number one for a specific game?

                                    p At the end of the season, the schools at the top of each of the Game Rankings will be rewarded (TBA).


    script.
        $(document).ready(function() {
        var lb = $(".leaderboard").jqleaderboard({
        // options
        });
        lb_object = lb.data("leaderboard");
        lb_object.leaderboard_highlight("wcta").leaderboard_select("wcta");
        });
